<div class="coporation">
  <div class="coporation-title">
    <h1 class="page-heading-title">運営会社</h1>
    <ul>
      <li>・会社名 : Pota Supo<li>
      <li>・住所 :岐阜県岐阜市◆◆0-1-2 ほげほげハイツ123号室<li>
      <li>・Eメールアドレス：potasupo.123@gmail.com<li>
      <li>・電話番号：058-1234-XXXX</li>
    </ul>
  </div>
<div>