<% breadcrumb :question %>
<div class="coporation">
  <div class="coporation-title">
    <h1 class="page-heading-title">よくある質問</h1>
    <div class="question-list">Q.会員登録しないと利用できませんか ？</div>
    <p class="contact-coporation">A.テストユーザーとしてログインが可能です。「お試しログイン」をご利用ください。</p>
    <div class="question-list">Q.お金はかかりますか ？</div>
    <p class="contact-coporation">A.全てのサービスが無料になっているのでご安心ください。</p>
  </div>
<div>