<% breadcrumb :thanks %>
<div class="coporation">
  <div class="coporation-title">
    <h1 class="page-heading-title">メッセージ送信完了</h1>
    <div class="question-list">お問い合わせを受け付けました。</div>
    <p>この度は弊社サービスをご利用いただきまして、誠にありがとうございます。</p>
    <p>お問い合わせいただきました内容を確認後、担当者より改めてご連絡いたします。</p>

    <p class="contact-coporation">今後ともPotaSupoをご愛顧くださいますよう、お願い申し上げます。</p>
    <%= link_to "ホームページへ戻る", root_path, class: :return_btn %>
  </div>
<div>