/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "font-awesome-sprockets";
  @import "font-awesome";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* パンくず */
.breadcrumbs a{
  color:rgb(38, 38, 38);
  margin-left: 10px;
}

.breadcrumbs a:hover {
  color: rgb(72, 117, 149);
  text-decoration: underline;
}

.breadcrumbs span{
  color:rgb(38, 38, 38);
  opacity: 0.6;
}

/* バリデーションのエラーメッセージ */
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

/* スィパースライド */
.swiper-container {
  width: 100%;
  height: 80vh;
  padding-top: 75%; /* = height ÷ width × 100 */
}

.swiper-slide p.swiper-caption {
  z-index:1;
  position: absolute;
  color: #fff;
  font-weight:400;
  font-size: 1.5em;
  line-height:120%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:5%;
  font-size:6vw;
  font-family: zQuicksand, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

// topページにスクロールするボタン
#page_top {
  position: fixed;
  bottom: 3rem;
  right: 20px;
  z-index: 3;
}
#page_top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.0em;
}
#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}
