// /* 下部広告部分 */
.footerFixed {
  position: relative;/*←相対位置*/
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  // padding-bottom: 200px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
   /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */

}

footer {
  width: 100%;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  height: 200px;
}

.footer-contents {
  width: 100vw;
  background-color: #ebf6f7;
  padding: 5vh 0;
  bottom: 2rem;
  display: flex;
  justify-content: center;

}

.footer-title {
  font-size: 4vh;
  margin-bottom: 2vh;
}

.footer-explain {
  font-size: 3vh;
  line-height: 30px;
}

.footer-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link:hover {
  opacity: 0.7;
}

.second-footer {
  width: 100%;
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
.push {
  height: 200px;
  margin-top:20px;
}
