.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.spot-column {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.show-images{
  width: 100%;
  height: 500px;
}

.spot-edit-links{
  display: flex;
  justify-content: center;
}

.spot-edit-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 10px 0px;
  padding: 2vh 5vw;
}

.spot-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 10px 10px;
  padding: 2vh 5vw;
}

.links{
  display: flex;
  justify-content: center;
}

#spot-map {
  height: 500px;
  width: 100%;
}


.change-item-btn {
  margin-left: 2em;
  color: #676464;
}
